.botao {
    background-color: $amarelo;

    text-align: center;
    font-family: inherit;
    font-weight: $peso-botao;
    color: $branco;

    width: 100%;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;

    box-shadow: 10px 10px 30px $amarelo-transparente;

    border: none;

    cursor: pointer;
}

.botao__alternativo {
    color: $amarelo;

    background-color: unset;

    box-shadow: none;

    border: 1px solid $amarelo;
}