.input {
    color:inherit;
    font-family: inherit;
    font-size: inherit;

    width: 100%;

    padding: 1.75rem;
    margin-bottom: 1rem;

    box-sizing: border-box;
    border: none;
    box-shadow: 10px 10px 30px $preto-transparente;

    background-color: $branco;
}

.input__icone {
    padding-left: 4.25rem;

    background-repeat: no-repeat;
    background-position: left 1.75rem center;
}

.input__email {
    background-image: url(../../assets/icones/mail.svg);
}