.produto {
    margin-bottom: 1rem;

    padding: 2rem 0 2rem;
    padding-left: 50%;

    position:relative;

    overflow: hidden;

    background-color: $branco;

    box-shadow: 10px 10px 30px $preto-transparente;

    box-sizing: border-box;

    min-height: 12.5rem;
}

.produto__imagem {
    position: absolute;
    top: 50%;
    left: -8rem;

    transform: translateY(-50%);
    z-index: 1;

    width: 18.75rem;
}

.produto__conteudo {
    position: relative;
    z-index: 2;
}

.produto__titulo {
    margin-left: 0.5rem;
}

.produto__preco {
    margin-bottom: 1.5rem;
}

.produto__comprar {
    color: $amarelo;

    display: flex;
    align-items: center;
}

.produto__comprar--icone {
    display: inline-block;

    width: 0.875rem;
    height: 0.875rem;


    margin-left: 1.75rem;

    background-image: url(../../assets/icones/seta.svg);
    background-size: contain;
}
